<%= turbo_frame_tag "anyframe", class:"h-full w-full center" do%>


<div class="bg-[#111827] w-5/6 rounded-md p-5 shadow-md flex flex-col">
    <h1 class="text-2xl text-slate-50 font-bold mt-4 mb-3">Create user</h1>
    <%= form_with scope: :user, url: "/users", class:"flex flex-col", method: :post, local: true do |f|%>
       <%= f.label :email, class:"form-label inline-block mt-2 text-slate-50 text-lg"%>
       <%= f.text_field :email, class: "
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
         text-[#1d4ed8]
        bg-white bg-clip-padding
        border border-solid border-gray-300 border-2
        rounded
        transition
        ease-in-out
        m-0
        focus:text-[#1d4ed8] focus:bg-white focus:border-[#1e3a8a] focus:outline-none
      "%>
       <%= f.label :password, class:"form-label inline-block mt-2 text-slate-50 text-lg"%>
       <%= f.text_field :password, class: "
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
         text-[#1d4ed8]
        bg-white bg-clip-padding
        border border-solid border-gray-300 border-2
        rounded
        transition
        ease-in-out
        m-0
        focus:text-[#1d4ed8] focus:bg-white focus:border-[#1e3a8a] focus:outline-none
      "%>
       <%= f.submit "create user",  class: "mt-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500
        hover:border-transparent rounded w-40" %>
    <%end%>
</div>

<% end %>